[Unit]
Description=Cadex's distributed currency daemon
After=network.target

[Service]
User=cadexcore
Group=cadexcore

Type=forking
PIDFile=/var/lib/cadexd/cadexd.pid
ExecStart=/usr/bin/cadexd -daemon -pid=/var/lib/cadexd/cadexd.pid \
-conf=/etc/cadexcore/cadex.conf -datadir=/var/lib/cadexd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
